mixin radio-button(options)
    
    label.container Мужчина
        input(type="checkbox")
        span.checkmark
    label.container Мужчина
        input(type="checkbox")
        span.checkmark
    label.container Мужчина
        input(type="checkboxz")
        span.checkmark
